.projects-timeline {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2rem;
}

.projects>span {
    font-size: 1.5rem;
    line-height: 1.5;
}

.projects-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: #ccc;
    transform: translateX(-50%);
    z-index: 0;
}